;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Mon Dec 15 11:14:37 2014
;; Desktop file format version 206
;; Emacs version 24.3.1

;; Global section:
(setq comint-input-ring nil)
(setq compile-history nil)
(setq desktop-missing-file-warning nil)
(setq dired-regexp-history nil)
(setq extended-command-history '("desktop-save" "desktop-change-dir" "desktop-save-in-desktop-dir" "desktop-save" "desktop-save-in-desktop-dir" "desktop-save" "desktop-save-in-desktop-dir" "desktop-save" "desktop-save-in-desktop-dir" "desktop-save" "desktop-change-dir"))
(setq face-name-history nil)
(setq file-name-history '("/ws/xyy/xyy-tongji/project.clj" "/ws/xyy/xyy-tongji/src/xyy_tongji/alive.clj" "/upg/clj-fn/project.clj" "/ws/xyy/xyy-tongji/project.clj" "/ws/xyy/xyy-tongji/src/xyy_tongji/alive.clj" "/upg/clj-fn/project.clj" "/ws/xyy/xyy-tongji/project.clj" "/ws/xyy/xyy-tongji/src/xyy_tongji/alive.clj" "/ws/xyy/xyy-tongji/project.clj" "/ws/xyy/xyy-tongji/src/xyy_tongji/alive.clj" "/ws/xyy/xyy-tongji/project.clj" "/ws/xyy/xyy-tongji/src/xyy_tongji/alive.clj" "/ws/xyy/xyy-tongji/project.clj" "~/.emacs.d/custom.el"))
(setq grep-find-history nil)
(setq grep-history nil)
(setq ido-buffer-history '("alive.clj"))
(setq ido-last-directory-list '(("/upg/" . "clj-fn/") ("/home/rt/" . ".emacs.d/") ("/ws/xyy/xyy-tongji/src/" . "xyy_tongji/") ("/ws/" . "xyy/") ("/ws/xyy/" . "xyy-tongji/")))
(setq ido-work-directory-list '("/upg/clj-fn/" "/ws/xyy/xyy-tongji/src/xyy_tongji/" "/ws/xyy/xyy-tongji/"))
(setq ido-work-file-list nil)
(setq minibuffer-history nil)
(setq org-refile-history nil)
(setq org-tags-history nil)
(setq query-replace-history nil)
(setq read-expression-history nil)
(setq regexp-history nil)
(setq regexp-search-ring nil)
(setq register-alist '((48 . "")))
(setq search-ring '("err_fmt" "swap" "swa" "dat "))
(setq shell-command-history nil)
(setq tags-file-name nil)
(setq tags-table-list nil)

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/upg/clj-fn/project.clj"
  "project.clj"
  'clojure-mode
  '(anzu-mode auto-complete-mode global-auto-revert-mode whitespace-cleanup-mode undo-tree-mode whole-line-or-region-mode hes-mode guide-key-mode auto-compile-on-load-mode eldoc-mode goto-address-prog-mode paredit-mode bug-reference-prog-mode diff-hl-mode highlight-symbol-mode rainbow-delimiters-mode aggressive-indent-mode redshank-mode cider-mode)
  1
  '(nil nil)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  nil
  "clj-fn"
  'dired-mode
  '(anzu-mode global-auto-revert-mode whitespace-cleanup-mode whole-line-or-region-mode hes-mode guide-key-mode auto-compile-on-load-mode)
  962
  '(nil nil)
  t
  '("/upg/clj-fn/")
  nil)

(desktop-create-buffer 206
  "/ws/xyy/xyy-tongji/src/xyy_tongji/alive.clj"
  "alive.clj"
  'clojure-mode
  '(anzu-mode auto-complete-mode global-auto-revert-mode whitespace-cleanup-mode undo-tree-mode whole-line-or-region-mode hes-mode guide-key-mode auto-compile-on-load-mode eldoc-mode goto-address-prog-mode paredit-mode bug-reference-prog-mode diff-hl-mode highlight-symbol-mode rainbow-delimiters-mode aggressive-indent-mode redshank-mode cider-mode)
  12507
  '(2636 nil)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  nil
  "xyy_tongji"
  'dired-mode
  '(anzu-mode global-auto-revert-mode whitespace-cleanup-mode whole-line-or-region-mode hes-mode guide-key-mode auto-compile-on-load-mode)
  210
  '(nil nil)
  t
  '("/ws/xyy/xyy-tongji/src/xyy_tongji/")
  nil)

(desktop-create-buffer 206
  "/ws/xyy/xyy-tongji/project.clj"
  "project.clj"
  'clojure-mode
  '(anzu-mode auto-complete-mode global-auto-revert-mode whitespace-cleanup-mode undo-tree-mode whole-line-or-region-mode hes-mode guide-key-mode auto-compile-on-load-mode eldoc-mode goto-address-prog-mode paredit-mode bug-reference-prog-mode diff-hl-mode highlight-symbol-mode rainbow-delimiters-mode aggressive-indent-mode redshank-mode cider-mode)
  1
  '(nil nil)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  nil
  "xyy-tongji"
  'dired-mode
  '(anzu-mode global-auto-revert-mode whitespace-cleanup-mode whole-line-or-region-mode hes-mode guide-key-mode auto-compile-on-load-mode)
  1047
  '(nil nil)
  t
  '("/ws/xyy/xyy-tongji/")
  nil)

